.App {
  font-size: 14px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: left;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-header {
  text-align: center;
}

form {
  padding: 5px 20px;
}

.card-body label {
  margin-right: 10px;
}
.card-body input[type="checkbox"] {
  margin-right: 5px;
}
.info input {
  float: right;
  clear: both;
}

.error {
  display: block;
  color: red;
  font-size: 12px;
  /* float: left;
  clear: both; */
}
